<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}"
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>
<body>
	<style type="text/css">
		body{
			font-family: 'Montserrat', sans-serif;
		}
	</style>
	<div class="col-lg-12 text-center">
		<div class="jumbotron">
		<h1 class="display">Contact Form</h1>
		<p class="lead">Contact Form with Flask !</p>

		{% if success %}
			<p class="lead text-success">Thank you for feedback !</p>
		{% endif %}
		</div>
		

		{% for message  in form.name.errors %}
		   <div class="flash">{{ message }}</div>
		{% endfor %}

		{% for message  in form.email.errors %}
		   <div class="flash">{{ message }}</div>
		{% endfor %}

		{% for message  in form.subject.errors %}
		   <div class="flash">{{ message }}</div>
		{% endfor %}

		{% for message  in form.message.errors %}
		   <div class="flash">{{ message }}</div>
		{% endfor %}
	</div>

		<div class="col-md-8 ml-5">
		<form action="{{ url_for('contactForm') }}" method="POST">
			

			{{ form.hidden_tag() }}

			{{ form.name.label() }}
			{{ form.name(class="form-control pt-4") }}

			{{ form.email.label(class="pt-4") }}
			{{ form.email(class="form-control pt-4") }}

			{{ form.subject.label(class="pt-4") }}
			{{ form.subject(class="form-control") }}

			{{ form.message.label(class="pt-4") }}
			{{ form.message(class="form-control pt-4") }}

			{{ form.submit(class="btn btn-outline-success ml-1 mt-5") }}


		</form>
	</div>
	<p class="text-info ml-5 pt-4">**All fields are required.</p>

</body>
</html>
