<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>
<body>
	<style type="text/css">
		body{
			font-family: 'Montserrat', sans-serif;
		}
	</style>

	<div class="col-lg-12">
		<div class="jumbotron">
			<h1 class="display-4">Contact Form</h1>
			<p class="lead">Contact form with Flask !</p>
			{% if success %}
				<p class="lead text-success">Thank you for feedback !{{ sender }}</p>
			{% endif %}
		</div>
	</div>
</body>
</html>
